@import url(./fonts.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background-color: #F5F2EB;
    --secondary-background-color: #AED6B3;
    --primary-font: "Inter", sans-serif;
    --primary-border-color: #5D5D5D;
}

html {
    width: 1300px;
    height: 540px;
    font-size: 20px;
    font-family: var(--primary-font);

}

body {
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

button {
    border: 0px;
    background-color: transparent;
    font-family: var(--primary-font);
}


/*header section*/

header {
    height: 80px;
    padding: 20px 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.sign-up {
    margin: 10px;
    padding: 12px 18px;
    font-size: 0.8rem;
}

.request-demo {
    font-size: 0.8rem;
    background-color: var(--secondary-background-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}


.sign-up:hover {
    opacity: 0.7;
}

.request-demo:hover {
    opacity: 0.7;
}

/*main section*/

main {
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

/*form section*/

form {
    background-color: white;
    width: 450px;
    height: 550px;
    font-size: 0.8rem;
    padding: 20px 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    position: absolute;
    top: 80px;
    left: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*input for login section*/

.section-login-input {
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.login-input {
    padding: 10px;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    width: 100%;
}

div button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;

}

.btn-sign-in {
    background-color: var(--secondary-background-color);
    width: 376px;
    height: 48px;
    padding: 16px, 30px, 16px, 30px;
    border-radius: 8px;
    gap: 10px;
}

.register-span-a {
    font-size: 0.6rem;
}

/*image section*/

.floating-person {
    height: 500px;
    display: flex;
    position: absolute;
    top: 100px;
    left: 600px;
}

/*media queries section*/

@media screen and (max-width: 1024px) {

    .floating-person {
        display: none;
    }

}